google_cloud_speech_credentials.json

.DS_Store
.coverage

__pycache__/
.pytest_cache/

/resources/audio_chunks/development/*
!/resources/audio_chunks/development/.keep
/resources/audio_chunks/production/*
!/resources/audio_chunks/production/.keep
/resources/audio_chunks/test/*
!/resources/audio_chunks/test/.keep
/resources/multimedia/development/*
!/resources/multimedia/development/.keep
/resources/multimedia/production/*
!/resources/multimedia/production/.keep
/resources/multimedia/test/*
!/resources/multimedia/test/.keep
/resources/subtitles/development/*
!/resources/subtitles/development/.keep
/resources/subtitles/production/*
!/resources/subtitles/production/.keep
/resources/subtitles/test/*
!/resources/subtitles/test/.keep

/log/*
!/log/.keep

/tmp/*
!/tmp/.keep
