google_cloud_speech_credentials.json

.DS_Store

__pycache__/
.pytest_cache/

/resources/audio_chunks/development/*
!/resources/audio_chunks/development/.keep
/resources/audio_chunks/production/*
!/resources/audio_chunks/production/.keep
/resources/audio_chunks/test/*
!/resources/audio_chunks/test/.keep
/resources/audios/development/*
!/resources/audios/development/.keep
/resources/audios/production/*
!/resources/audios/production/.keep
/resources/audios/test/*
!/resources/audios/test/.keep
/subtitles/development/*
!/subtitles/development/.keep
/subtitles/production/*
!/subtitles/production/.keep
/subtitles/test/*
!/subtitles/test/.keep
/resources/videos/development/*
!/resources/videos/development/.keep
/resources/videos/production/*
!/resources/videos/production/.keep
/resources/videos/test/*
!/resources/videos/test/.keep

/log/*
!/log/.keep

/tmp/*
!/tmp/.keep
