google_cloud_speech_credentials.json

.DS_Store

__pycache__/
.pytest_cache/

/audio_chunks/development/*
!/audio_chunks/development/.keep
/audio_chunks/production/*
!/audio_chunks/production/.keep
/audio_chunks/test/*
!/audio_chunks/test/.keep
/audios/development/*
!/audios/development/.keep
/audios/production/*
!/audios/production/.keep
/audios/test/*
!/audios/test/.keep
/subtitles/development/*
!/subtitles/development/.keep
/subtitles/production/*
!/subtitles/production/.keep
/subtitles/test/*
!/subtitles/test/.keep
/videos/development/*
!/videos/development/.keep
/videos/production/*
!/videos/production/.keep
/videos/test/*
!/videos/test/.keep

/log/*
!/log/.keep
