google-cloud-speech==2.14.0
kafka-python==2.0.2
mako==1.2.0
protobuf==4.21.1
pydub==0.25.1
pymongo==4.1.1
PyTikTokAPI @ git+https://github.com/martouta/TikTokAPI-Python@master
pytube @ git+https://github.com/martouta/pytube@master
pyyaml==6.0
SpeechRecognition==3.8.1
