google-cloud-speech==2.21.0
kafka-python==2.0.2
mako==1.2.4
openai==0.28.1
pycountry==22.3.5
pydub==0.25.1
pymongo==4.5.0
PyTikTokAPI @ git+https://github.com/martouta/TikTokAPI-Python@v0.0.5-martouta-1
pyyaml==6.0.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
SpeechRecognition==3.9.0
youtube-transcript-api==0.6.1
yt-dlp==2023.9.24

coverage==6.5.0
coveralls==3.3.1
httpretty==1.1.4
pytest==7.4.2
requests-mock==1.11.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
